.card {
    border: 1px solid $secondary-color;
    border-radius: 0.5rem;
    overflow: hidden;
    img {
        width: 100%;
        height: auto;
    }
    .card-body {
        padding: 1rem;
        text-align: center;
        h3 {
            font-size: 1.25rem;
            color: $text-color;
        }
        p {
            color: $secondary-color;
        }
        a {
            @include transition(all);
            &:hover {
                background-color: $primary-color;
                color: white;
            }
        }
    }
}
