$negro: #000;
$blanco: #FFF;
$grisclaro: #EAEAFF;
$main-color: #3C096C;
$hover-color: #5A189A;
$secondary-color: #7B2CBF;
$text-color: #5f427b;
$background-color: #E0AAFF;
$link-color: #9D4EDD;
$link-hover-color: #7B2CBF;
$article-border-color: #C77DFF;
$main-color-secondary: #F4EFFA;
$main-color-alternative: #2F184B;
$main-text-color: #C8B1E4;
$main-text-light: #9B72CF;
$main-font: "Roboto", sans-serif;